.home .actives_title{
    text-align: center;
    margin-bottom: 10px;
}

.home .controls{
    display: flex;
    justify-content: space-between;
}

.home .add_control{
    color: blue;
    font-size: 15px;
}

i{
    margin-right: 5px;
}

.fa-sign-out{
    color:black;
    margin-left: 25px;
    font-size: 20px;
    cursor: pointer;
}